html {
    font-size: 10px;
    color: #212560; /*font color*/
}

/*https://dev.to/ayushmanbthakur/how-to-make-tic-tac-toe-in-browser-with-html-css-and-js-28ed */
#gameArea {
    min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
  
}
button {
    outline: none;
    border: 4px solid green;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: aquamarine;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    background: green;
    color: white;
  }



#gameBoard {
    background: linear-gradient(70deg, #012649,#38005e );
    display: flex; /* allows to position all of our text into the center */
    flex-direction: column; /* vertical content*/
    justify-content: center;
    padding: 3rem; /*all around*/
    margin: auto;
    
    min-height: 400px; /*30% of the browser visible viewport, makes the sections a little taller*/
    width: 500px;
}

#cardContainer{
    display: flex;
    flex-direction: vertical;
}
#storyCards{
    height: 100px;
    width: 50px;
    background-color: yellowgreen;
    margin: 5rem;
}

#adventureCards{
    height: 100px;
    width:50px;
    background-color: blueviolet;
    margin: 5rem;

}

#activeStoryCard {
    height: 100px;
    width: 50px;
    background-color: blue;
    margin: 5rem;
    display: none;
}

#everythingQuest{
    height: 50%;
    background-color: royalblue;
}
#stages{
    display: hidden;
}

#withdrawQuest {
    display: none;
}

#decisionButtons {
    align-self: center;
    margin-top: auto;
}

#battlePoints {
    margin-top: 12px;
    font-size: 30px;
}


#shields {
    color: white;
    font-size: 1.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: center;
}


#popUpContainer {
    border: 2.5em darkorange solid;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.8em;
    display: none;
}

#popUpButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

#tournament {
    width: 94%;
    min-height: fit-content;
    border: 0.5em black solid;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    background-color: white;
    display: none;
    /*position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

#playerCardsTourn {
    flex: 3;
    display: flex;
    flex-direction: column;

}


.tournRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.playerTourn {
    border: 1px black solid;
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playerTourn > p {
    font-size: 0.7vw;
    text-align: center;  
}


#tournResults {
    flex: 1;
}


.playerTotal {  
    align-self:flex-start;   
    color: red;
}


.allCardsT{
    text-align: left;
}

#eventMessage {
    font-size: 10px;
    color: aliceblue;
    text-align: center;
}